(*$LIBRARY CpyMem*)
(* GLOBAL VARIABLES *)
(* USER POUs *)
PROGRAM CPYMEM_DWORD
 VAR
 buf1 : ARRAY [0..19] OF DWORD;
 buf2 : ARRAY [0..19] OF DWORD;
 i:INT;
 END_VAR
 
 FOR i:=0 TO 19 DO  
     buf1[i] := (buf2[i] + DWORD#3);
     buf2[i] := (buf1[i] mod DWORD#3);  
 END_FOR
 
END_PROGRAM

PROGRAM CPYMEM_WORD
 VAR
 buf1 : ARRAY [0..19] OF WORD;
 buf2 : ARRAY [0..19] OF WORD;
 i:INT;
 END_VAR
 
 FOR i:=0 TO 19 DO  
     buf1[i] := (buf2[i] + WORD#3);
     buf2[i] := (buf1[i] mod WORD#3);  
 END_FOR
 
END_PROGRAM

PROGRAM CPYMEM_BYTE
 VAR
 buf1 : ARRAY [0..19] OF BYTE;
 buf2 : ARRAY [0..19] OF BYTE;
 i:INT;
 END_VAR
 
 FOR i:=0 TO 19 DO  
     buf1[i] := (buf2[i] + BYTE#3);
     buf2[i] := (buf1[i] mod BYTE#3);  
 END_FOR
 
END_PROGRAM

PROGRAM CPYMEM_LWORD
 VAR
 buf1 : ARRAY [0..19] OF LWORD;
 buf2 : ARRAY [0..19] OF LWORD;
 i:INT;
 END_VAR
 
 FOR i:=0 TO 19 DO  
     buf1[i] := (buf2[i] + LWORD#3);
     buf2[i] := (buf1[i] mod LWORD#3);  
 END_FOR
 
END_PROGRAM

(*$TASKS 
.TASK TASK
.LOOPPARAM 0 250
CPYMEM_DWORD
.END_TASK
*)
(*$END_LIBRARY*)
